/* IMPORTS */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro); /* Google Fonts */
/* GENERAL */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Utilizaremos para la página principal un diseño GRID */
.grid-container {
  display: grid;
  grid-template: repeat(12, 8.33vh) / repeat(auto-fit, minmax(8.33%, 1fr));
  min-height: 100vh;
}

/* objetos internos de las cajas centrados */
.grid-container [class*="box"] {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
/* Header */
.box1 {
  background-color: #9c9a9a;
  grid-column: 1 / -1;
  grid-row: 1 / 1;
  padding: 0 1%;
}
.box1 img {
  height: 45px;
  flex-basis: 5%;
  flex-grow: 1;
  flex-shrink: 2;
}
.box1 h1 {
  flex-basis: 65%;
  flex-grow: 2;
  flex-shrink: 1;
}
.box1 .header-nav {
  flex-basis: 20%;
  flex-grow: 1;
  flex-shrink: 1;
}
.box1 .header-nav ul.hnavegador {
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  list-style: none;
}
.box1 .header-nav ul.hnavegador li {
  margin: 1%;
}
.box1 .header-nav button {
  background-color: #fff;
  border: 1.5px solid #048f64;
  cursor: pointer;
  padding: .75em;
  width: auto;
}
.box1 .header-nav ul.hnavegador li a, .box1 .header-nav button a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
/* Section */
.box2 {
  background-color: #8e8a8a;
  grid-column: 2 / 9;
  grid-row: 3 / 11;
}
/* Aside */
.box3 {
  background-color: #797979;
  grid-column: 10 / 12;
  grid-row: 3 / 11;
}
/* Footer */
.box4 {
  background-color: #707070;
  grid-column: 1 / -1;
  grid-row: 12 / -1;
}

/* registro-login */
.box-registro {
  background: radial-gradient(circle, #555555, #535353, #505050, #4e4e4e, #4c4c4c);
  grid-column: 2 / 9;
  grid-row: 3 / 11;
  padding: 2.5%;
}
.box-logueo {
  background-color: #797979;
  grid-column: 9 / 12;
  grid-row: 3 / 11;
  padding: 10%;
  text-align: center;
}
.box-registro .formulario-registro, .box-logueo .formulario-login {
  overflow: hidden;
  flex-basis: 100%;
}
.box-registro .formulario-registro fieldset {
  border: 1px solid #00d5e3;
  padding: 2%;
}
.box-registro .formulario-registro fieldset legend {
  border: 1.5px solid #00d5e3;
  color: #fff;
  font-style: 1em;
  font-weight: bold;
  padding: 1%;;
}
/* inputs styles */
.box-registro .formulario-registro input[type=text], .box-registro .formulario-registro input[type=password],
.box-registro .formulario-registro input[type=email], .box-registro .formulario-registro input[type=date] {
  border: none;
  background: none;
  border-bottom: 1px solid #aaaaaa;
  color: white;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  margin: 1.5% 0;
  outline: none;
  padding: 1%;
  width: 47.5%;
}
.box-logueo .formulario-login input[type=text], .box-logueo .formulario-login input[type=password] {
  border: none;
  background: none;
  border-bottom: 1px solid #aaaaaa;
  color: white;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  margin: 1.5% 0;
  outline: none;
  padding: 1%;
  width: 100%;
}
.form-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #000;
  top: 10px;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 7px;
  outline: none;
}
.form-radio:checked::before {
  position: absolute;
  font: 13px/1 'Open Sans', sans-serif;
  left: 11px;
  top: 7px;
  content: '\02143';
  transform: rotate(40deg);
}
.form-radio:hover {
  background-color: #f7f7f7;
}
.form-radio:checked {
  background-color: #f1f1f1;
}
.formulario-registro label {
  font: 15px/1.7 'Open Sans', sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}
.box-registro .formulario-registro input[type=submit],
.box-logueo .formulario-login input[type=submit] {
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  color:white;
  text-align: center;
  letter-spacing: 1px;
  background: radial-gradient(circle, #24cfaa, #26c5a3, #28bb9c, #29b294, #2aa88d);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
.box-registro .formulario-registro ::placeholder, .box-logueo .formulario-login ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1;
  color: white;
  font-size: 1em;
  font-weight: 300;
}

.box-logueo img {
  width: 100px;
  height: 100px;
  margin: 0% auto;
}
.box-logueo h3 {
  display: block;
  padding-bottom: 4em;
  font-size: 28px;
  letter-spacing: 0.5px;
}
.box-logueo .link {
  display: block;
  padding-top: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin: 1% 0;
}

.fPrincipal {
  align-items: center;
  background-color: #fff4d5;
  display: flex;
  grid-column: 5 / 9;
  grid-row: 3 / 11;
  flex-flow: column;
  justify-content: center;
  overflow: hidden;

  filter: blur(0.4px);
  box-shadow:
  /*bottom shadow*/
  0px 20px 20px rgba(0,0,0,0.2),
  0px 5px 10px rgba(0,0,0,0.2),
  /*long bottom shadow*/
  0px 70px 50px rgba(0,0,0,0.4),
  /*right shadow*/
  30px 50px 50px rgba(0,0,0,0.2),
  /*left shadow*/
  -30px 50px 50px rgba(0,0,0,0.2),
  /*right inset*/
  inset 20px 0px 60px rgba(0,0,0,0.1),
  /*left inset*/
  inset -20px 0px 60px rgba(0,0,0,0.1);
}
.fPrincipal img {
  width: 140px;
  height: 100px;
  margin: 1% 0;
}
.fPrincipal h2 {
  font-size: 1.5em;
  margin-bottom: 15%;
}
.fPrincipal input[type=text], .fPrincipal input[type=password] {
  border: none;
  border: 1.2px solid #6a6a6a;
  padding: 1.5% .5%;
  margin: 0 0 5% 0;
  width: 50%;
}
.fPrincipal label {
  color: #000;
  font-weight: bold;
  pointer-events: none;
}
.fPrincipal input[type=submit] {
  background-color: #00a3ff;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 5%;
}
.fPrincipal .link {
  display: block;
  padding-top: 20px;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  margin: 1% 0;
}
